<div
      class="u-maxWidth740 u-paddingTop20 u-marginTop20 u-borderTopLightest container u-paddingBottom20 u-xs-paddingBottom10 js-postAttributionFooterContainer">
      <div class="row js-postFooterInfo">
          <div class="col u-size6of12 u-xs-size12of12">
              <li
                  class="uiScale uiScale-ui--small uiScale-caption--regular u-block u-paddingBottom18 js-cardUser">
                  <div class="u-marginLeft20 u-floatRight"><span class="followState js-followState"
                          data-user-id="345bd653a842"><button
                              class="button button--small u-noUserSelect button--withChrome u-baseColor--buttonNormal button--withHover button--unblock js-unblockButton"
                              data-action="toggle-block-user" data-action-value="345bd653a842"
                              data-action-source="footer_card"><span
                                  class="button-label  button-defaultState">Blocked</span><span
                                  class="button-label button-hoverState">Unblock</span></button><button
                              class="button button--primary button--small u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow js-followButton"
                              data-action="toggle-subscribe-user" data-action-value="345bd653a842"
                              data-action-source="footer_card-345bd653a842-------------------------follow_footer"
                              data-subscribe-source="footer_card"
                              data-follow-context-entity-id="7af058d7f961"><span
                                  class="button-label  button-defaultState js-buttonLabel">Follow</span><span
                                  class="button-label button-activeState">Following</span></button></span>
                  </div>
                  <div class="u-tableCell"><a class="link u-baseColor--link avatar"
                          href=""
                          title="Go to the profile of Madhuri Sastry"
                          aria-label="Go to the profile of Madhuri Sastry"
                          data-action-source="footer_card" data-user-id="345bd653a842"
                          data-collection-slug="zora" dir="auto">
                          <div class="u-relative u-inlineBlock u-flex0"><img
                                  src=""
                                  class="avatar-image avatar-image--small"
                                  alt="Go to the profile of Madhuri Sastry">
                              <div class="avatar-halo u-absolute u-textColorGreenNormal svgIcon"
                                  style="width: calc(100% + 12px); height: calc(100% + 12px); top:-6px; left:-6px">
                                  <svg viewBox="0 0 114 114" xmlns="http://www.w3.org/2000/svg">
                                      <path
                                          d="M7.66922967,32.092726 C17.0070768,13.6353618 35.9421928,1.75 57,1.75 C78.0578072,1.75 96.9929232,13.6353618 106.33077,32.092726 L107.66923,31.4155801 C98.0784505,12.4582656 78.6289015,0.25 57,0.25 C35.3710985,0.25 15.9215495,12.4582656 6.33077033,31.4155801 L7.66922967,32.092726 Z">
                                      </path>
                                      <path
                                          d="M106.33077,81.661427 C96.9929232,100.118791 78.0578072,112.004153 57,112.004153 C35.9421928,112.004153 17.0070768,100.118791 7.66922967,81.661427 L6.33077033,82.338573 C15.9215495,101.295887 35.3710985,113.504153 57,113.504153 C78.6289015,113.504153 98.0784505,101.295887 107.66923,82.338573 L106.33077,81.661427 Z">
                                      </path>
                                  </svg></div>
                          </div>
                      </a></div>
                  <div class="u-tableCell u-verticalAlignMiddle u-breakWord u-paddingLeft15">
                      <h3 class="ui-h3 u-fontSize18 u-lineHeightTighter"><a
                              class="link link--primary u-accentColor--hoverTextNormal"
                              href=""
                              property="cc:attributionName" title="Go to the profile of Madhuri Sastry"
                              aria-label="Go to the profile of Madhuri Sastry"
                              rel="author cc:attributionUrl" data-user-id="345bd653a842"
                              data-collection-slug="zora" dir="auto">Madhuri Sastry</a></h3>
                      <div
                          class="ui-caption u-textColorGreenNormal u-fontSize13 u-tintSpectrum u-accentColor--textNormal u-marginBottom7">
                          Medium member since May 2019</div>
                      <p
                          class="ui-body u-fontSize14 u-lineHeightBaseSans u-textColorDark u-marginBottom4">
                          Feminist. Writer. Intl Human Rights Law. She/Her Read my stuff: <a
                              rel="nofollow"
                              href="">www.thechicksandbalances.com</a>
                      </p>
                  </div>
              </li>
          </div>
          <div class="col u-size6of12 u-xs-size12of12 u-xs-marginTop30">
              <li
                  class="uiScale uiScale-ui--small uiScale-caption--regular u-block u-paddingBottom18 js-cardCollection">
                  <div class="u-marginLeft20 u-floatRight"><button
                          class="button button--primary button--small u-noUserSelect button--withChrome u-accentColor--buttonNormal js-relationshipButton"
                          data-action="toggle-follow-collection"
                          data-action-source="footer_card----8ccfed20cbb2----------------------follow_footer"
                          data-collection-id="8ccfed20cbb2"><span
                              class="button-label  js-buttonLabel">Follow</span></button></div>
                  <div class="u-tableCell "><a
                          class="link u-baseColor--link avatar avatar--roundedRectangle"
                          href="" title="Go to ZORA"
                          aria-label="Go to ZORA" data-action-source="footer_card"
                          data-collection-slug="zora"><img
                              src=""
                              class="avatar-image u-size60x60" alt="ZORA"></a></div>
                  <div class="u-tableCell u-verticalAlignMiddle u-breakWord u-paddingLeft15">
                      <h3 class="ui-h3 u-fontSize18 u-lineHeightTighter u-marginBottom4"><a
                              class="link link--primary u-accentColor--hoverTextNormal"
                              href="" rel="collection"
                              data-action-source="footer_card" data-collection-slug="zora">ZORA</a></h3>
                      <p
                          class="ui-body u-fontSize14 u-lineHeightBaseSans u-textColorDark u-marginBottom4">
                          Unapologetic. Ours. A new Medium publication for women of color.</p>
                      <div class="buttonSet"></div>
                  </div>
              </li>
          </div>
      </div>
  </div>
