<!DOCTYPE html>
doctype html
html(lang='en')
  head
    title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='author', content='Ethan Fairweather')
    meta(name='viewport', content='initial-scale=1 width=device-width')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='index.css')
    link(rel='icon', href='/inu.ico')
    base(href='/')
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body#lavender
    // BEGIN PAGES LIST - MAIN PART
    ul#pages
      // =============== P A G E   1. ===============
      li#the-day
        // Begin Top header 1
        .top-header
          .wrap
            ul.nav-icons
              li
                a.the-day.selected(href='#')
            ul.social-icons
              li
                a(href='#', rel='nofollow')
                  i.fa.fa-facebook-official.fa-3x(aria-hidden='true')
              li
                a(href='#', rel='nofollow')
                  i.fa.fa-linkedin-square.fa-3x(aria-hidden='true')
              li
                a(href='#', rel='nofollow')
                  i.fa.fa-github.fa-3x(aria-hidden='true')
              li
                a(href='#', rel='nofollow')
                  i.fa.fa-twitter.fa-3x(aria-hidden='true')
        // End Top header 1
        // Begin content 1
        section
          // Begin Short Info
          .wrap
            h3 Short notice for guests
            p.single
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus faucibus felis, eget ornare massa porttitor ac. Nam pellentesque aliquet dapibus. Cum sociis natoque penatibus et magnis dis parturient montes.
            .separator.stars
          // End Short Info
        // End content 1
      // End Page No. 1
    // END PAGES LIST
    // Begin footer
    footer.bg-pattern
      .wrap
        a.logo-footer(href='#')
        span.text-footer
    // End footer
    // Begin Rotate phone screen
    #rotate-phone
      h3 Rotate Phone
      img(src='images/phone-landscape.png', alt='')
    // End Rotate phone screen







<html lang="en-US">
    