<div class="inlineNewPostControl js-inlineNewPostControl" data-action-scope="_actionscope_6">
  <div class="inlineEditor is-postEditMode js-inlineEditor" data-action="focus-editor"
    data-action-scope="_actionscope_8" style="">
    <div class="u-paddingTop20 js-block js-inlineEditorContent">
      <div class="inlineEditor-header">
        <div class="inlineEditor-avatar u-paddingRight20">
          <div class="avatar u-inline">
            <div class="u-relative u-inlineBlock u-flex0"><img
                src=""
                class="avatar-image u-size36x36 u-xs-size32x32" alt="Ethan Burrow Fairweather">
              <div class="avatar-halo u-absolute u-textColorGreenNormal svgIcon"
                style="width: calc(100% + 10px); height: calc(100% + 10px); top:-5px; left:-5px"><svg
                  viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.44615311,11.6601601 C6.57294867,5.47967718 12.9131553,1.5 19.9642857,1.5 C27.0154162,1.5 33.3556228,5.47967718 36.4824183,11.6601601 L37.3747245,11.2087295 C34.0793076,4.69494641 27.3961457,0.5 19.9642857,0.5 C12.5324257,0.5 5.84926381,4.69494641 2.55384689,11.2087295 L3.44615311,11.6601601 Z">
                  </path>
                  <path
                    d="M36.4824183,28.2564276 C33.3556228,34.4369105 27.0154162,38.4165876 19.9642857,38.4165876 C12.9131553,38.4165876 6.57294867,34.4369105 3.44615311,28.2564276 L2.55384689,28.7078582 C5.84926381,35.2216412 12.5324257,39.4165876 19.9642857,39.4165876 C27.3961457,39.4165876 34.0793076,35.2216412 37.3747245,28.7078582 L36.4824183,28.2564276 Z">
                  </path>
                </svg></div>
            </div>
          </div>
        </div>
        <div class="inlineEditor-headerContent">
          <div class="inlineEditor-placeholder js-inlineEditorPrompt">Write a response…</div>
          <div class="inlineEditor-author u-accentColor--textNormal">Ethan Burrow Fairweather</div>
        </div>
      </div>
      <div class="block-streamText">
        <div class="postArticle postArticle--short">
          <div class="u-maxWidth600" data-scroll="native">
            <div class="postArticle-content js-postField js-notesSource editable" id="editor_55" g_editable="true"
              role="textbox" contenteditable="true" data-default-value="">
              <section name="6b96" class="section section--body section--first section--last">
                <div class="section-divider">
                  <hr class="section-divider">
                </div>
                <div class="section-content">
                  <div class="section-inner sectionLayout--insetColumn">
                    <p name="0ddc" class="graf graf--p graf--empty graf--leading graf--trailing is-selected"
                      data-scroll="native"><br></p>
                  </div>
                </div>
              </section>
            </div>
            <div class="inlineTooltip buttonScalableGroup u-hide is-active" style="top: 14px; left: 0px;"><button
                class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--inlineTooltipControl js-inlineTooltipControl"
                title="Add an image, video, embed, or new part" aria-label="Add an image, video, embed, or new part"
                data-action="inline-menu" tabindex="-1"><span class="svgIcon svgIcon--addMediaPlus svgIcon--25px"><svg
                    class="svgIcon-use" width="25" height="25">
                    <path d="M20 12h-7V5h-1v7H5v1h7v7h1v-7h7" fill-rule="evenodd"></path>
                  </svg></span></button>
              <div class="inlineTooltip-menu"><button
                  class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--scale u-transitionSeries"
                  title="Add an image" aria-label="Add an image" data-action="inline-menu-image" tabindex="-1"><span
                    class="svgIcon svgIcon--addMediaImage svgIcon--25px"><svg class="svgIcon-use" width="25"
                      height="25">
                      <g fill-rule="evenodd">
                        <path
                          d="M4.042 17.05V8.857c0-1.088.842-1.85 1.935-1.85H8.43C8.867 6.262 9.243 5 9.6 5.01L15.405 5c.303 0 .755 1.322 1.177 2 0 .077 2.493 0 2.493 0 1.094 0 1.967.763 1.967 1.85v8.194c-.002 1.09-.873 1.943-1.967 1.943H5.977c-1.093.007-1.935-.85-1.935-1.937zm2.173-9.046c-.626 0-1.173.547-1.173 1.173v7.686c0 .625.547 1.146 1.173 1.146h12.683c.625 0 1.144-.53 1.144-1.15V9.173c0-.626-.52-1.173-1.144-1.173h-3.025c-.24-.63-.73-1.92-.873-2 0 0-5.052.006-5 0-.212.106-.87 2-.87 2l-2.915.003z">
                        </path>
                        <path
                          d="M12.484 15.977a3.474 3.474 0 0 1-3.488-3.49A3.473 3.473 0 0 1 12.484 9a3.474 3.474 0 0 1 3.488 3.488c0 1.94-1.55 3.49-3.488 3.49zm0-6.08c-1.407 0-2.59 1.183-2.59 2.59 0 1.408 1.183 2.593 2.59 2.593 1.407 0 2.59-1.185 2.59-2.592 0-1.406-1.183-2.592-2.59-2.592z">
                        </path>
                      </g>
                    </svg></span></button><button
                  class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--scale u-transitionSeries"
                  title="Add an image from Unsplash" aria-label="Add an image from Unsplash"
                  data-action="inline-menu-unsplash-image" tabindex="-1"><span
                    class="svgIcon svgIcon--search svgIcon--25px"><svg class="svgIcon-use" width="25" height="25">
                      <path
                        d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z">
                      </path>
                    </svg></span></button><button
                  class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--scale u-transitionSeries"
                  title="Add a video" aria-label="Add a video" data-action="inline-menu-embed"
                  data-action-value="Paste a YouTube, Vine, Vimeo, or other video link, and press Enter"
                  tabindex="-1"><span class="svgIcon svgIcon--addMediaVideo svgIcon--25px"><svg class="svgIcon-use"
                      width="25" height="25">
                      <path
                        d="M18.8 11.536L9.23 5.204C8.662 4.78 8 5.237 8 5.944v13.16c0 .708.662 1.165 1.23.74l9.57-6.33c.514-.394.606-1.516 0-1.978zm-.993 1.45l-8.294 5.267c-.297.213-.513.098-.513-.264V7.05c0-.36.218-.477.513-.264l8.294 5.267c.257.21.257.736 0 .933z"
                        fill-rule="evenodd"></path>
                    </svg></span></button><button
                  class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--scale u-transitionSeries"
                  title="Add an embed" aria-label="Add an embed" data-action="inline-menu-embed"
                  data-action-value="Paste a link to embed content from another site (e.g. Twitter) and press Enter"
                  tabindex="-1"><span class="svgIcon svgIcon--addMediaEmbed svgIcon--25px"><svg class="svgIcon-use"
                      width="25" height="25">
                      <g fill-rule="evenodd">
                        <path d="M9.826 7.698l-4.828 4.828 4.828 4.828.652-.7-4.08-4.128L10.53 8.4"></path>
                        <path d="M14.514 8.4l4.177 4.126-4.17 4.127.7.7 4.83-4.827-4.83-4.828"></path>
                      </g>
                    </svg></span></button><button
                  class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--scale u-transitionSeries"
                  title="Add a new part" aria-label="Add a new part" data-action="inline-menu-hr" tabindex="-1"><span
                    class="svgIcon svgIcon--addMediaPart svgIcon--25px"><svg class="svgIcon-use" width="25" height="25">
                      <g fill-rule="evenodd">
                        <path
                          d="M8.45 12H5.3c-.247 0-.45.224-.45.5 0 .274.203.5.45.5h5.4c.247 0 .45-.226.45-.5 0-.276-.203-.5-.45-.5H8.45z">
                        </path>
                        <path
                          d="M17.45 12H14.3c-.247 0-.45.224-.45.5 0 .274.203.5.45.5h5.4c.248 0 .45-.226.45-.5 0-.276-.202-.5-.45-.5h-2.25z">
                        </path>
                      </g>
                    </svg></span></button></div>
            </div>
            <div class="js-tagEditor tagEditor u-hide is-visible">
              <div class="tags tags--postTags tags--postTagsEditor" data-action-scope="_actionscope_9">
                <div class="js-tagInput tags-input editable" id="editor_60" g_editable="true" role="textbox"
                  contenteditable="true" data-default-value="Add a tag…">
                  <p name="d0c9" class="graf graf--p"><span class="defaultValue defaultValue--root">Add a
                      tag…</span><br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inlineEditor-actions">
        <div class="u-floatLeft">
          <div class="buttonSet"><button
              class="button button--primary button--withChrome u-accentColor--buttonNormal js-publishButton"
              data-action="publish">Publish</button><button
              class="button button--withChrome u-baseColor--buttonNormal js-expandButton" data-action="expand-editor"
              data-tooltip="Every response is its own story. Expand to the full-screen editor at any time.">Go full
              screen</button></div>
        </div>
      </div>
    </div>
  </div>
</div>