<div class="app">
    <navbar></navbar>
    <social-component class="home"></social-component>
    <div class="mindset">
        <div class="mindsetpos">
            <div class="mindsetimg mindsetimg1">
            </div>
            <div class="mindsetimg mindsetimg2">
            </div>
        </div>
        <div class="mindsetpos">
            <div class="himgcont">
                <div class="mindsetimg mindsetimg3">
                </div>
            </div>
            <div class="himgcont">
                <div class="mindsetimg mindsetimg4">
                </div>
            </div>
        </div>
    </div>
    <div class="mottopos">
        <p class="motto" title="Do you have someone to protect?">貴方に守るものあるか</p>
    </div>
    <div class="personalimgpos">
        <img class="personalimg" title="Do you have someone to protect?" src="../assets/images/myselfie.jpg" />
    </div>
    <div class="perscont">
        <div class="persinfo">
            <p>My name is Ethan Burrow Fairweather</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Entrepreneur</li>
                <li class="list-group-item">Fullstack NodeJS/ExpressJS Web Developer</li>
                <li class="list-group-item">Business Analyst</li>
            </ul>
        </div>
    </div>
    <return-button class="hidden-btn"></return-button>
    <!-- <div>
        <sg-language-selector class="reverse-positon"></sg-language-selector>
        <return-button class="hidden-btn"></return-button>
    </div> -->
</div>