<div>
    <main>
        <article class=" u-minHeight100vhOffset65 u-overflowHidden postArticle postArticle--full" data-scroll="native">
            <header class="container u-maxWidth740">
                <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaHeader u-paddingBottom10 row">
                    <div class="col u-size12of12 js-postMetaLockup">
                        <div
                            class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaLockup postMetaLockup--authorWithBio u-flexCenter js-postMetaLockup">
                            <div class="u-flex0">
                                <a class="link u-baseColor--link avatar"
                                    href=""
                                    data-action="show-user-card" data-action-source="post_header_lockup"
                                    data-action-value="6bbb1d799800" data-action-type="hover"
                                    data-user-id="6bbb1d799800" dir="auto">
                                    <div class="u-relative u-inlineBlock u-flex0">
                                        <img src=""
                                            class="avatar-image avatar-image--small"
                                            alt="Go to the profile of Ethan Burrow Fairweather">
                                        <div class="avatar-halo u-absolute u-textColorGreenNormal svgIcon"
                                            style="width: calc(100% + 12px); height: calc(100% + 12px); top:-6px; left:-6px">
                                            <img src="../assets/images/profile-pic-border.svg" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
                                <div class="u-lineHeightTightest">
                                    <a class="ds-link ds-link--styleSubtle ui-captionStrong u-inlineBlock link link--darken link--darker"
                                        href=""
                                        data-action="show-user-card" data-action-source="post_header_lockup"
                                        data-action-value="6bbb1d799800" data-action-type="hover"
                                        data-user-id="6bbb1d799800" dir="auto">
                                        Ethan Burrow Fairweather
                                    </a>
                                </div>
                                <div class="ui-caption ui-xs-clamp2 postMetaInline">
                                    I am a former Alabamian and a resident of Baltimore, Maryland. Entrepreneur,
                                    Business
                                    Analyst, Full Stack Web Developer,
                                    Writer and Political Operative.
                                </div>
                                <div class="ui-caption postMetaInline js-testPostMetaInlineSupplemental">Draft</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="postArticle-content js-postField js-notesSource editable" id="editor_185" g_editable="true"
                role="textbox" contenteditable="true" data-default-value="Title Tell your story…">
                <section name="6a3e" class="section section--body section--first section--last">
                    <div class="section-divider">
                        <hr class="section-divider">
                    </div>
                    <div class="section-content">
                        <div class="section-inner sectionLayout--insetColumn">
                            <h3 [(ngModel)]="subject" class="graf graf--h3 graf--leading graf--title" type="text"
                                name="subject">Hello</h3>
                            <p name="4638" class="graf graf--p graf-after--h3"> Make way for Prince Ali!</p>
                            <p name="4639" class="graf graf--p graf-after--h3"> Say hey! It's Prince Ali!</p>
                            <br>
                            <p name="4640" class="graf graf--p graf-after--h3">Hey! Clear the way in the old bazaar</p>
                            <p name="4641" class="graf graf--p graf-after--h3">Hey you! Let us through!</p>
                            <p name="4642" class="graf graf--p graf-after--h3">It's a brand new star!</p>
                            <p name="4643" class="graf graf--p graf-after--h3">Oh come, be the first on your block to
                                meet his eye!</p>
                            <br>
                            <p name="4644" class="graf graf--p graf-after--h3">Make way! Here he comes!</p>
                            <p name="4645" class="graf graf--p graf-after--h3">Ring bells! Bang the drums!</p>
                            <p name="4646" class="graf graf--p graf-after--h3">You're gonna love this guy</p>
                            <br>
                            <p name="4647" class="graf graf--p graf-after--h3">Prince Ali! Fabulous he!</p>
                            <p name="4648" class="graf graf--p graf-after--h3">Ali Ababwa</p>
                            <p name="4649" class="graf graf--p graf-after--h3">Show some respect, boy, genuflect, down
                                on one knee</p>
                            <p name="4650" class="graf graf--p graf-after--h3">Now, try your best to stay calm</p>
                            <p name="4651" class="graf graf--p graf-after--h3">Brush up your Friday salaam</p>
                            <p name="4652" class="graf graf--p graf-after--h3">Then come and meet his spectacular
                                coterie</p>

                            <!-- [GENIE]
                            Prince Ali!
                            Mighty is he!
                            Ali Ababwa
                            Strong as ten regular men, definitely!
                            He's faced the galloping hordes
                            A hundred bad guys with swords
                            Who sent those goons to their lords?
                            Why, Prince Ali
                            Fellas, he's got

                            [MEN]
                            He's got seventy-five golden camels

                            [GENIE]
                            Woo, uh-huh, now the ladies, what he got?

                            [WOMEN]
                            Purple peacocks, he's got fifty-three

                            [GENIE]
                            Uh-huh, uh-huh, uh-huh
                            When it comes to exotic-type mammals, everybody help me out!

                            [ENSEMBLE]
                            He's got a zoo
                            I'm telling you, it's a world-class menagerie

                            [GENIE & WOMEN]
                            Prince Ali! Handsome is he
                            There's no question this Ali's alluring
                            Ali Ababwa
                            Never ordinary, never boring
                            That physique!
                            Everything about that man
                            How can I speak, weak at my knees
                            Just plain impresses
                            You yummy boy!
                            So, get on out in that square
                            He's a winner, he's a whiz, a wonder
                            Adjust your veil and prepare
                            He's about to pull my heart asunder
                            To gawk and grovel and stare at Prince Ali, oops
                            And I absolutely love the way he dresses!

                            [ENSEMBLE]
                            He's got ninety-five white Persian monkeys

                            [GENIE]
                            He got the monkeys, a bunch of monkeys

                            [ENSEMBLE]
                            And to view them he charges no fee

                            [WOMEN]
                            He's generous, so generous

                            [ENSEMBLE]
                            He's got 10,000 servants and flunkies
                            Proud to work for him!
                            They bow to his whim, love serving him
                            They're just lousy with loyalty to Ali!
                            Prince Ali!
                            Prince Aaa-

                            [GENIE]
                            We waitin' for you!
                            We're not going 'til you go!

                            *SULTAN begins to move his hand.*

                            You can do it!

                            *SULTAN finally taps his hand.*

                            There it is!

                            [GENIE, ENSEMBLE]
                            Prince Ali!
                            Amorous he! Ali Ababwa

                            [GENIE]
                            Heard your princess was hot! Where is she?
                            And that, good people, is why he got all cute and dropped by

                            [ENSEMBLE, GENIE, Both]
                            With sixty elephants, llamas galore (For real!?)
                            With his bears and lions a brass band and more (What?)
                            With his forty fakirs (Oh!) his cooks, his bakers(Oh!)
                            His birds that warble on key (Oh!)
                            Make way for Prince Ali!</p> -->
                            <!-- <p name="376f" class="graf graf--p graf-after--h3">
                            Aenean risus turpis, tincidunt sit amet condimentum vitae, aliquet ut erat. Donec rutrum eros ut sem consequat auctor. Donec
                            aliquam ipsum at lectus rutrum, sit amet consectetur tellus pretium. Cras venenatis est arcu,
                            sed pellentesque orci laoreet non. Morbi ultrices, massa sit amet tincidunt faucibus, ipsum turpis
                            hendrerit odio, sed elementum sapien enim nec tortor. Maecenas vitae eros nec elit porttitor
                            tincidunt sit amet in mi. Mauris commodo elementum enim pretium molestie. Curabitur convallis
                            odio erat, eget faucibus mi faucibus in.
                        </p>
                        <p name="376f" class="graf graf--p graf-after--h3">
                            Aliquam molestie vestibulum tristique. Nullam hendrerit lacus id elit suscipit, ut accumsan leo maximus. Duis quis viverra
                            lectus, sed pretium dolor. Maecenas vehicula, nisl eu dictum efficitur, orci ante congue arcu,
                            lobortis tristique nibh nisi in nulla. Donec molestie a urna at interdum. Proin lacinia, lacus
                            non congue tincidunt, neque velit venenatis augue, in hendrerit est odio eget urna. Proin et
                            egestas massa. Aliquam dui sapien, elementum eget mattis vitae, placerat suscipit lectus. Etiam
                            tristique rhoncus magna, at dictum enim ullamcorper sit amet. Maecenas in tortor rhoncus, tincidunt
                            ipsum eget, accumsan odio. Ut sed elit malesuada, facilisis diam non, accumsan nisl. Nulla facilisis,
                            lorem sit amet porta molestie, est nulla facilisis odio, vel mattis tortor lorem sit amet enim.
                            Curabitur sit amet velit ipsum. Suspendisse ultrices purus ut metus hendrerit pellentesque. Phasellus
                            velit tortor, ullamcorper eu libero eget, hendrerit blandit nibh. In vestibulum enim odio, et
                            placerat sapien eleifend et.
                        </p>
                        <p name="376f" class="graf graf--p graf-after--h3">
                            Nam aliquet tincidunt velit vestibulum porta. Nam tincidunt, metus eu ultrices molestie, orci justo sodales sapien, id lobortis
                            tortor ligula quis elit. Nulla in ex vitae lectus dapibus euismod. Donec quis leo metus. Praesent
                            sit amet luctus felis, non varius lorem. Fusce ac dolor hendrerit, commodo ligula id, hendrerit
                            metus. Donec blandit vehicula arcu, id congue tortor sagittis eu. Vestibulum ante ipsum primis
                            in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus bibendum justo nec vehicula
                            placerat. Phasellus nec venenatis neque.
                        </p>
                        <p name="376f" class="graf graf--p graf-after--h3">
                            Cras non dolor vitae diam viverra feugiat eget non erat. Vivamus quis quam et est suscipit egestas. Vestibulum malesuada
                            eget nulla at commodo. Morbi a ipsum convallis, efficitur risus sit amet, efficitur nisi. Nullam
                            elementum dictum mi, sed consequat augue malesuada eget. Etiam vulputate placerat pharetra. Ut
                            eleifend efficitur metus ac lobortis. Cras eu dapibus nisl. Ut urna dolor, porttitor non bibendum
                            id, convallis et diam.
                        </p> -->
                        </div>
                    </div>
                </section>
            </div>
            <div class="u-sm-hide u-absolute u-marginRight30 u-textColorNormal u-fontSize14 u-textAlignRight u-hide"
                style="top: 206px; right: 882.625px; height: 48px;">
                <div class="u-absolute u-left14 u-top0 u-width1 u-sizeFullHeight u-overflowHidden">
                    <div class="js-labelBar u-borderRightLighter u-transition--transform125 u-sizeFullHeight u-absolute u-topNegative100Percent"
                        style="transform: translate3d(0px, 48px, 0px);"></div>
                </div>
                <div class="js-titleLabel u-paddingTop19 u-absolute u-top0 u-right0 u-transition--transform200Spring u-transition--fadeIn200Delay150"
                    style="transform: translate3d(0px, 0px, 0px);">Title</div>
                <div
                    class="js-subtitleLabel u-paddingTop11 u-absolute u-top0 u-right0 u-transition--transform200Spring u-transition--fadeOut100">
                    Subtitle</div>
                <div
                    class="js-kickerLabel u-paddingTop4 u-absolute u-top0 u-right0 u-transition--transform200Spring u-transition--fadeOut100">
                    Kicker</div>
            </div>

            <!-- Inline Tooltip Menu -->
            <div class="inlineTooltip buttonScalableGroup" id="tooltipmenu" style="top: 323px; left: 180px;">

                <!-- Open Tooltip Button -->
                <button
                    class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--inlineTooltipControl js-inlineTooltipControl is-touched"
                    title="Add an image, video, embed, or new part" aria-label="Add an image, video, embed, or new part"
                    data-action="inline-menu" tabindex="-1">
                    <span class="svgIcon svgIcon--addMediaPlus svgIcon--25px">
                        <img src="../assets/images/plus.svg"/>
                    </span>
                </button>
                <!-- Open Tooltip Button End -->
            </div>
            <!-- End Inline Tooltip Menu -->

            <footer class="u-paddingTop10"></footer>
        </article>
    </main>
    <!-- Tooltip Menu -->
    <app-media-tool-tip></app-media-tool-tip>
    <!-- End Tooltip Menu -->
    <!--- Inline editor-->
    <app-inline-toolbar></app-inline-toolbar>
    <!--- Inline editor-->
</div>