<div class="app">
    <navbar></navbar>

    <main role="main">
        <article class=" u-minHeight100vhOffset65 u-overflowHidden postArticle postArticle--full is-withAccentColors"
            lang="en">
            <div class="postArticle-content js-postField js-notesSource js-trackPostScrolls" data-post-id="7af058d7f961"
                data-source="post_page" data-collection-id="8ccfed20cbb2" data-tracking-context="postPage"
                data-scroll="native">
                <section name="8060" class="section section--body section--first">
                    <div class="section-divider">
                        <hr class="section-divider">
                    </div>
                    <div class="section-content">
                        <div class="section-inner sectionLayout--insetColumn">
                            <h1 name="cf90" id="cf90" class="graf graf--h3 graf--leading graf--title">The Courage to Say
                                No, Without the&nbsp;Guilt</h1>
                            <h2 name="6ae7" id="6ae7" class="graf graf--h4 graf-after--h3 graf--subtitle">How I’ve
                                learned to navigate sex on my own&nbsp;terms</h2>
                            <div
                                class="uiScale uiScale-ui--regular uiScale-caption--regular u-flexCenter u-marginVertical24 u-fontSize15 js-postMetaLockup">
                                <div class="u-flex0"><a class="link u-baseColor--link avatar"
                                        href=""
                                        data-action="show-user-card" data-action-source="post_header_lockup"
                                        data-action-value="345bd653a842" data-action-type="hover"
                                        data-user-id="345bd653a842" data-collection-slug="zora" dir="auto">
                                        <div class="u-relative u-inlineBlock u-flex0"><img
                                                src=""
                                                class="avatar-image u-size50x50"
                                                alt="Go to the profile of Madhuri Sastry">
                                            <div class="avatar-halo u-absolute u-textColorGreenNormal svgIcon"
                                                style="width: calc(100% + 10px); height: calc(100% + 10px); top:-5px; left:-5px">
                                                <svg viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M5.53538374,19.9430227 C11.180401,8.78497536 22.6271155,1.6 35.3571429,1.6 C48.0871702,1.6 59.5338847,8.78497536 65.178902,19.9430227 L66.2496695,19.401306 C60.4023065,7.84329843 48.5440457,0.4 35.3571429,0.4 C22.17024,0.4 10.3119792,7.84329843 4.46461626,19.401306 L5.53538374,19.9430227 Z">
                                                    </path>
                                                    <path
                                                        d="M65.178902,49.9077131 C59.5338847,61.0657604 48.0871702,68.2507358 35.3571429,68.2507358 C22.6271155,68.2507358 11.180401,61.0657604 5.53538374,49.9077131 L4.46461626,50.4494298 C10.3119792,62.0074373 22.17024,69.4507358 35.3571429,69.4507358 C48.5440457,69.4507358 60.4023065,62.0074373 66.2496695,50.4494298 L65.178902,49.9077131 Z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </a></div>
                                <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
                                    <div class="u-paddingBottom3"><a
                                            class="ds-link ds-link--styleSubtle ui-captionStrong u-inlineBlock link link--darken link--darker"
                                            href=""
                                            data-action="show-user-card" data-action-value="345bd653a842"
                                            data-action-type="hover" data-user-id="345bd653a842"
                                            data-collection-slug="zora" dir="auto">Madhuri Sastry</a><span
                                            class="followState js-followState" data-user-id="345bd653a842"><button
                                                class="button button--smallest u-noUserSelect button--withChrome u-baseColor--buttonNormal button--withHover button--unblock js-unblockButton u-marginLeft10 u-xs-hide"
                                                data-action="toggle-block-user" data-action-value="345bd653a842"
                                                data-action-source="post_header_lockup"><span
                                                    class="button-label  button-defaultState">Blocked</span><span
                                                    class="button-label button-hoverState">Unblock</span></button><button
                                                class="button button--primary button--smallest button--dark u-noUserSelect button--withChrome u-accentColor--buttonDark button--follow js-followButton u-marginLeft10 u-xs-hide"
                                                data-action="toggle-subscribe-user" data-action-value="345bd653a842"
                                                data-action-source="post_header_lockup-345bd653a842-------------------------follow_byline"
                                                data-subscribe-source="post_header_lockup"
                                                data-follow-context-entity-id="7af058d7f961"><span
                                                    class="button-label  button-defaultState js-buttonLabel">Follow</span><span
                                                    class="button-label button-activeState">Following</span></button></span>
                                    </div>
                                    <div class="ui-caption u-noWrapWithEllipsis js-testPostMetaInlineSupplemental"><time
                                            datetime="2019-07-03T11:01:01.728Z">Jul 3</time><span
                                            class="middotDivider u-fontSize12"></span><span class="readingTime"
                                            title="6 min read"></span><span class="u-paddingLeft4"><span
                                                class="svgIcon svgIcon--star svgIcon--15px"><svg class="svgIcon-use"
                                                    width="15" height="15">
                                                    <path
                                                        d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z">
                                                    </path>
                                                </svg></span></span></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="section-inner sectionLayout--outsetColumn">
                        </div> -->
                        <div class="section-inner sectionLayout--insetColumn">
                            <p name="5479" id="5479"
                                class="graf graf--p graf--hasDropCapModel graf--hasDropCap graf--hasDropCapImage graf-after--figure">
                                <!-- <span class="graf-dropCap"><span class="aspectRatioPlaceholder is-locked"
                                        style="width: 111px; height: 111px;"><span class="aspectRatioPlaceholder-fill"
                                            style="padding-bottom: 100%;"></span><img class="graf-dropCapImage"
                                            data-image-id="1*x9IRVNX6dsvo_Lxv3YoMgg.png" data-width="501"
                                            data-height="501"
                                            src=""></span><span
                                        class="graf-dropCapText">S</span></span>ome time ago, my partner was feeling
                                frisky. I wasn’t. We’d been in the midst of a dry spell, and I was hyperaware of it. But
                                I was exhausted and all I wanted to do was sleep. My husband respected my decision — no
                                begging, no insisting. And yet, I was consumed with guilt. -->
                            </p>
                            <!-- <p name="92b3" id="92b3" class="graf graf--p graf--startsWithDoubleQuote graf-after--p">“I
                                can… <em class="markup--em markup--p-em">service</em> you?” I offered my husband, a
                                coquettish eyebrow raised.</p>
                            <p name="033e" id="033e" class="graf graf--p graf-after--p">He looked horrified.</p>
                            <p name="ca09" id="ca09" class="graf graf--p graf--startsWithDoubleQuote graf-after--p">“I’m
                                not a car…” he pointed out, accurately.</p>
                            <p name="027f" id="027f" class="graf graf--p graf--startsWithDoubleQuote graf-after--p">
                                “But… it’s been a while since we…” I struggled to find some sexy talk. “Lay… as man and
                                wife…” I ventured.</p>
                            <p name="31a1" id="31a1" class="graf graf--p graf-after--p">He looked horrified.</p>
                            <p name="6297" id="6297" class="graf graf--p graf--startsWithDoubleQuote graf-after--p">
                                “Okay, are you from the ’50s? I think you should sleep,” he said, kissing me and falling
                                asleep instantly.</p> -->



                            <p name="beb5" id="beb5" class="graf graf--p graf-after--p">But guilt kept me up for a long
                                time, and eventually, I became angry with myself. It wasn’t the first time I had felt
                                shitty about saying no to sex. Not for nothing: I have a strong mother, one who would be
                                alarmed that I was even validating the idea of consent by guilt. I live in New York, and
                                am not as submerged in toxic <em class="markup--em markup--p-em">desi </em>culture as I
                                used to be. (The toxicity is different here. I learned the phrase “If you don’t put out,
                                someone else will ¯\_(ツ)_/¯” on one of the <em
                                    class="markup--em markup--p-em">Housewives</em> shows.) And yet, the guilt was so
                                consuming and resilient. For months after, I thought about why saying no was hard for
                                me, especially when it came to sex.</p>
                            <p name="bb79" id="bb79" class="graf graf--p graf-after--p graf--trailing">Saying no to
                                sex — or to babies, or even simply to plans — is subversive. It goes against everything
                                we have been taught. It’s an exercise of autonomy and self-preservation. <span
                                    class="markup--quote markup--p-quote is-other" name="anon_f11019d047a1"
                                    data-creator-ids="anon">A radical act of self-care that acknowledges that we do, in
                                    fact, have a self to care for.</span></p>
                        </div>
                    </div>
                </section>
                <section name="3e7f" class="section section--body">
                    <div class="section-divider">
                        <hr class="section-divider">
                    </div>
                    <div class="section-content">
                        <div class="section-inner sectionLayout--insetColumn">
                            <p name="2669" id="2669"
                                class="graf graf--p graf--hasDropCapModel graf--hasDropCap graf--hasDropCapImage graf--leading">
                                <span class="graf-dropCap"><span class="aspectRatioPlaceholder is-locked"
                                        style="width: 111px; height: 111px;"><span class="aspectRatioPlaceholder-fill"
                                            style="padding-bottom: 100%;"></span><img class="graf-dropCapImage"
                                            data-image-id="1*W0lU2m0KQmQMrAl9fPC-ow.png" data-width="501"
                                            data-height="501"
                                            src=""></span><span
                                        class="graf-dropCapText">G</span></span>rowing up, taboo, stigma, and shame
                                around our bodies and sex was just a way of life. In an all-girls school, we were
                                ashamed of our period: that-what-must-not-be named. Even a sanitary pad was not a
                                “sanitary pad.” Like once, a girl conspiratorially whispered to me, eyes narrowed, “Do
                                you have an <em class="markup--em markup--p-em">uncle</em> on you?” (Don’t ask me the
                                etymology.) In some places, Indian women are banished to huts when they have their
                                period — they’re considered “impure” during this time. (Are dudes banished when they
                                have hemorrhoids? I think not. Every man with hemorrhoids is lying on his bed, with a
                                wife soaking his asshole in warm water and witch hazel or whatever out of a sense of
                                duty.)</p>
                            <blockquote name="36c0" id="36c0" class="graf graf--pullquote graf-after--p">Saying no to
                                sex is subversive. It goes against everything we have been&nbsp;taught.</blockquote>
                            <p name="aad1" id="aad1" class="graf graf--p graf-after--pullquote">No one told us that our
                                needs mattered. So, we didn’t learn about consent, female pleasure, masturbation — or
                                anything other than penile-vaginal intercourse for the purposes of reproduction (i.e., a
                                basic biology class). “I didn’t masturbate till I was 20,” my Brown friend confided over
                                a glass of rosé. “I felt <em class="markup--em markup--p-em">suuuper</em> guilty, and
                                ashamed,” she shivered a little and — understandably — drained her wine in one sip.
                                “Even now, the idea of taking pleasure into my own hands, is so… weird.”</p>
                            <p name="2407" id="2407" class="graf graf--p graf--startsWithDoubleQuote graf-after--p">
                                “Meanwhile I see at least one dude masturbating in public on a daily basis,” I shrug.
                            </p>
                            <p name="8742" id="8742" class="graf graf--p graf-after--p">Indian women are still
                                considered “chattel.” Let’s be honest: Wedding ceremonies are just glorified
                                property-transfer parties (her ownership from father to husband). Some laws and court
                                decisions have come around, and say maybe they’re not? But many others leave the notion
                                of women’s autonomy open to debate: marital rape, for example, is not a crime. And as
                                exhibit A that India’s laws are by and for men: The general view is that denying sex in
                                a marriage is “cruelty”<em class="markup--em markup--p-em"> </em>and can be grounds for
                                divorce. It should go without saying, but… women also want to have sex, of course<em
                                    class="markup--em markup--p-em">, </em>and can use the law to divorce their
                                husbands, but conceptualizing sex as something that is “owed” is just wrong.</p>
                            <p name="c811" id="c811" class="graf graf--p graf-after--p graf--trailing">And yet, it is
                                accepted. We owe our bodies to men.</p>
                        </div>
                    </div>
                </section>
                <section name="b7c4" class="section section--body">
                    <div class="section-divider">
                        <hr class="section-divider">
                    </div>
                    <div class="section-content">
                        <div class="section-inner sectionLayout--insetColumn">
                            <p name="d20e" id="d20e"
                                class="graf graf--p graf--hasDropCapModel graf--hasDropCap graf--hasDropCapImage graf--leading">
                                <span class="graf-dropCap"><span class="aspectRatioPlaceholder is-locked"
                                        style="width: 111px; height: 111px;"><span class="aspectRatioPlaceholder-fill"
                                            style="padding-bottom: 100%;"></span><img class="graf-dropCapImage"
                                            data-image-id="1*jmCt79sZ6byeRW3cDG4OQg.png" data-width="501"
                                            data-height="501"
                                            src=""></span><span
                                        class="graf-dropCapText">O</span></span>ne of the most insidious effects of
                                toxic <em class="markup--em markup--p-em">desi</em> culture is how it makes women feel
                                guilty and ashamed for saying no. We have never<em class="markup--em markup--p-em">
                                </em>been taught to lay boundaries. If we<em class="markup--em markup--p-em">
                                </em>could’ve said no, we’d be proving that we are actual human beings with all kinds of
                                feelings, and a sense of self-determination. How, then, could we be controlled,
                                exploited? So, we are taught to say yessir, <em
                                    class="markup--em markup--p-em">haanjisir</em>, or else we will be browbeaten into
                                it. After all, no is a yes not yet forced out.</p>
                            <p name="f3f1" id="f3f1" class="graf graf--p graf-after--p">Sexually, women are “conquests.”
                                I grew up on Bollywood films that normalized and romanticized stalking. There’s a line
                                in a popular Bollywood song in the film <em class="markup--em markup--p-em">Josh</em>
                                starring former Miss World Aishwarya Rai and Shah Rukh Khan. He’s trying to wear his
                                love interest down, and is whining to his sister about its futility. She consoles him:
                                <em class="markup--em markup--p-em">yeh uska style hoinga, hoton pe na dil mein haan
                                    hoinga. </em>“This must be her style; there’s a no on her lips but there must be a
                                yes in her heart.”</p>
                            <p name="fc5e" id="fc5e" class="graf graf--p graf-after--p">It makes me think of being
                                stalked myself, the existential fear of being in a wide-open space. Of conversations
                                with women trading “what I did when I thought my body was in danger,” stories (“I lied
                                and said I had pepper spray!”) Of teenage girls who were never taught about consent, and
                                are never given an opportunity to learn it as women. In the critically acclaimed film
                                <em class="markup--em markup--p-em">Lipstick Under My Burkha</em>, Konkona Sen Sharma’s
                                character, Shirin, is frighteningly real. Shirin complains that “it burns” when she has
                                sex with her husband. He obviously doesn’t care, and so she suffers through the dutiful
                                sex. He also doesn’t use a condom, forcing her to get multiple abortions. Shirin’s
                                gynecologist shames her for this. Shirin is too ashamed and proud to be vulnerable. So
                                her friends think that surely, she — a successful salesperson — actually had<em
                                    class="markup--em markup--p-em"> </em>reproductive rights. Little do they know that
                                when she’s offered a career opportunity, her husband rapes her, so she doesn’t lose
                                sight of her “place.”</p>
                            <p name="f9e1" id="f9e1" class="graf graf--p graf-after--p">Patriarchal guilt and
                                shame — especially around women’s bodies — is indiscriminate. How many strong women have
                                been assaulted, how many educated women raped? How many who “should have known better”
                                cover up burns and bruises their partners gave them before they go to parent-teacher
                                meetings?</p>
                            <p name="8445" id="8445" class="graf graf--p graf-after--p graf--trailing">How many said no
                                a thousand times, and weren’t heard?</p>
                        </div>
                    </div>
                </section>
                <section name="b28c" class="section section--body section--last">
                    <div class="section-divider">
                        <hr class="section-divider">
                    </div>
                    <div class="section-content">
                        <div class="section-inner sectionLayout--insetColumn">
                            <p name="e40f" id="e40f"
                                class="graf graf--p graf--hasDropCapModel graf--hasDropCap graf--hasDropCapImage graf--leading">
                                <span class="graf-dropCap"><span class="aspectRatioPlaceholder is-locked"
                                        style="width: 111px; height: 111px;"><span class="aspectRatioPlaceholder-fill"
                                            style="padding-bottom: 100%;"></span><img class="graf-dropCapImage"
                                            data-image-id="1*OTjagKMFwXEoVOHc7iGJEA.png" data-width="501"
                                            data-height="501"
                                            src=""></span><span
                                        class="graf-dropCapText">I</span></span> think of the women who have suffered
                                acid attacks, burned for saying no to men. Those pioneers of autonomy, pavers of the
                                way. I remember my stomach tightening into knots upon seeing pictures of their charred
                                faces in newspapers. It frightened me terribly, the hatred, the vindictiveness.</p>
                            <p name="a468" id="a468" class="graf graf--p graf-after--p">What if it happened to me? Any
                                one of the very real, violent consequences of saying no?</p>
                            <p name="3483" id="3483" class="graf graf--p graf-after--p">There’s drinking the patriarchy
                                Kool-Aid, and there’s being submerged in it for so long your skin absorbs it and turns
                                it into blood. A switch flipped after I got married. All the conventions and
                                contradictions I internalized, all the expectations of me as a woman and my performance
                                of this “wife” role, and all my insecurities are heightened in the context of my
                                marriage. It’s what makes me feel guilty when I refuse sex with my partner or for
                                wanting a career more than children.</p>
                            <p name="5bee" id="5bee" class="graf graf--p graf-after--p graf--trailing">I’m immensely
                                privileged to be able to use the word no. I’m in a safe, loving relationship where I
                                initiate, enjoy, and refuse sex. I can practice agency, autonomy, and setting boundaries
                                until one day, maybe the guilt won’t feel visceral.</p>
                        </div>
                    </div>
                </section>
            </div>
            <app-master-footer></app-master-footer>
            <!-- <app-comments></app-comments> -->
        </article>
    </main>

    <!-- <div class="content-container">

        <div class="side-content">
            side content
        </div>

        <div class="main-content">
            <div class="article-title">
                Story behind the Gifs
            </div>

            <div class="social-share-buttons">
                <span class="social-button">
                    <i class="icon fa fa-facebook-official" aria-hidden="true"></i>facebook
                </span>
                <span class="social-button">
                    <i class="icon fa fa-linkedin-square" aria-hidden="true"></i>linkedin
                </span>
                <span class="social-button">
                    <i class="icon fa fa-twitter-square" aria-hidden="true"></i>twitter
                </span>
            </div>

            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius elementum pellentesque. Aenean erat turpis, commodo
                    id ex vitae, sodales pharetra metus. Sed tincidunt at nulla vitae tincidunt. Quisque orci enim, accumsan
                    sed nibh nec, bibendum pharetra dolor. Nulla fringilla bibendum laoreet. Mauris maximus luctus velit
                    in scelerisque. Donec efficitur non ligula nec varius. In id urna vehicula augue porta posuere. Ut elit
                    urna, sagittis non nibh et, pretium tincidunt ipsum. Donec cursus est nisi.
                </p>
                <p>
                    Aenean risus turpis, tincidunt sit amet condimentum vitae, aliquet ut erat. Donec rutrum eros ut sem consequat auctor. Donec
                    aliquam ipsum at lectus rutrum, sit amet consectetur tellus pretium. Cras venenatis est arcu, sed pellentesque
                    orci laoreet non. Morbi ultrices, massa sit amet tincidunt faucibus, ipsum turpis hendrerit odio, sed
                    elementum sapien enim nec tortor. Maecenas vitae eros nec elit porttitor tincidunt sit amet in mi. Mauris
                    commodo elementum enim pretium molestie. Curabitur convallis odio erat, eget faucibus mi faucibus in.
                </p>
                <p>
                    Aliquam molestie vestibulum tristique. Nullam hendrerit lacus id elit suscipit, ut accumsan leo maximus. Duis quis viverra
                    lectus, sed pretium dolor. Maecenas vehicula, nisl eu dictum efficitur, orci ante congue arcu, lobortis
                    tristique nibh nisi in nulla. Donec molestie a urna at interdum. Proin lacinia, lacus non congue tincidunt,
                    neque velit venenatis augue, in hendrerit est odio eget urna. Proin et egestas massa. Aliquam dui sapien,
                    elementum eget mattis vitae, placerat suscipit lectus. Etiam tristique rhoncus magna, at dictum enim
                    ullamcorper sit amet. Maecenas in tortor rhoncus, tincidunt ipsum eget, accumsan odio. Ut sed elit malesuada,
                    facilisis diam non, accumsan nisl. Nulla facilisis, lorem sit amet porta molestie, est nulla facilisis
                    odio, vel mattis tortor lorem sit amet enim. Curabitur sit amet velit ipsum. Suspendisse ultrices purus
                    ut metus hendrerit pellentesque. Phasellus velit tortor, ullamcorper eu libero eget, hendrerit blandit
                    nibh. In vestibulum enim odio, et placerat sapien eleifend et.
                </p>
                <p>
                    Nam aliquet tincidunt velit vestibulum porta. Nam tincidunt, metus eu ultrices molestie, orci justo sodales sapien, id lobortis
                    tortor ligula quis elit. Nulla in ex vitae lectus dapibus euismod. Donec quis leo metus. Praesent sit
                    amet luctus felis, non varius lorem. Fusce ac dolor hendrerit, commodo ligula id, hendrerit metus. Donec
                    blandit vehicula arcu, id congue tortor sagittis eu. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae; Phasellus bibendum justo nec vehicula placerat. Phasellus nec venenatis
                    neque.
                </p>
                <p>
                    Cras non dolor vitae diam viverra feugiat eget non erat. Vivamus quis quam et est suscipit egestas. Vestibulum malesuada
                    eget nulla at commodo. Morbi a ipsum convallis, efficitur risus sit amet, efficitur nisi. Nullam elementum
                    dictum mi, sed consequat augue malesuada eget. Etiam vulputate placerat pharetra. Ut eleifend efficitur
                    metus ac lobortis. Cras eu dapibus nisl. Ut urna dolor, porttitor non bibendum id, convallis et diam.
                </p>
            </div>
        </div>

    </div> -->
    <return-button class="hidden-btn"></return-button>
</div>