<div class="app">
    <navbar></navbar>
    <social-component class="normalIcons"></social-component>
    <div class="container">
            <div class="edpos">
                <div class="edcont">
                    <div class="edimg">
                        <img id="unisize" src="../assets/images/ua-square-logo.png" />
                    </div>
                    <div class="edtextpos">
                        <div class="edtext">
                            <p>I am a class of 2015 graduate of The Univeristy of Alabama. I graduated with a Bachelor of
                                Science
                                in Commerce and Business Administration. My majors were General Business and Management,
                                each
                                with a GPA of 3.222 and GPA of 3.667 respectively. I took electives in New Venture
                                Development,
                                Small Business Consulting and Elementary Japanese. In my final term, I made the deans list
                                for
                                Spring of 2015 and graduated with an overall GPA of 3.077</p>
                        </div>
                    </div>
                </div>
                <div class="edcont">
                    <div id="covimg">
                        <img id="covalence" src="../assets/images/covalence-logo.svg" />
                    </div>
                    <div class="edtextpos">
                        <div class="edtext">
                            <p>I took a 10 week frontend developer course called Covalence (formerly Depot/U) in Birmingham,
                                AL.
                                I obtained:</p>
                                <ul id="edUl" class="list-group list-group-flush">
                                    <li class="list-group-item">Core HTML & CSS</li>
                                    <li class="list-group-item">Core Javascript</li>
                                    <li class="list-group-item">Git (VCS)</li>
                                    <li class="list-group-item">Twitter Bootstrap</li>
                                    <li class="list-group-item">JQuery</li>
                                    <li class="list-group-item">LESS & SASS</li>
                                    <li class="list-group-item">MVC's</li>
                                    <li class="list-group-item">AngularJS</li>
                                    <ul>
                                        <li class="list-group-item">Routing</li>
                                        <li class="list-group-item">Data Binding</li>
                                        <li class="list-group-item">Dependecy injections</li>
                                        <li class="list-group-item">Directives</li>
                                    </ul>
                                    <li class="list-group-item">Typescript</li>
                                    <li class="list-group-item">Static Types and Generics</li>
                                    <li class="list-group-item">Mobile User Experience</li>
                                    <li class="list-group-item">Cordova</li>
                                    <li class="list-group-item">Cordova Plugins</li>
                                    <li class="list-group-item">App Store Deployment</li>
                                </ul>
                                <p>I graduated November of 2015 with a cerification in Front End Fundamentals, License ID of
                                    <a href="">CREDLY-13958398</a>.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="edpos">
                <div class="edcont">
                    <div class="edimg">
                        <img id="betamore" src="../assets/images/betamore-logo.png" />
                    </div>
                    <div class="edtextpos">
                        <div class="edtext">
                            <p>After taking a 7 month hiatus, during which I was perfecting my frontend skills, I moved to
                                Baltimore,
                                Maryland. There, I took a class in Fullstack development based on NodeJS. At Betamore
                                Academy,
                                I obtained skills in:</p>
                            <ul id="edUl" class="list-group list-group-flush">
                                <li class="list-group-item">MVC's</li>
                                <li class="list-group-item">AngularJS</li>
                                <li class="list-group-item"> ExpressJS</li>
                                <li class="list-group-item">NodeJS</li>
                                <ul>
                                    <li class="list-group-item">OS module</li>
                                    <li class="list-group-item">Clustering module</li>
                                    <li class="list-group-item">HTTP module</li>
                                    <li class="list-group-item">HTTPS Module</li>
                                    <li class="list-group-item">Path Module</li>
                                    <li class="list-group-item">FS Module</li>
                                </ul>
                                <li class="list-group-item">Postgres</li>
                                <li class="list-group-item">Sequelize</li>
                                <li class="list-group-item">Redis</li>
                            </ul>
                            <p>I graduated December of 2016 with a cerification in Intro to Full Stack Web Development.</p>
                        </div>
                    </div>
                </div>
                <div class="edcont">
                    <div>
                        <img id="wanikani" 
                                src="../assets/images/method-mnemonics-d09aa3ce6ba8a2bdff6a9a3753769aaf6985cec4ad491c1b270abbda9c6bc1d3.png" />
                    </div>
                    <div class="edtextpos">
                        <div class="edtext">
                            <p id="nihon">私も日本語が話します。</p>
                            <p>I am JLPT N5 versed speaker of Japanese. I basically means I understand 97.50% of the kanji
                                that
                                Japanese 1st grade elementary students need to know, and 78.48% of the JLPT5 kanji. I
                                continue
                                my studies, but they are slow and methodical in nature. I want to make sure I know my
                                vocabulary
                                level well enough before continuing. Will be updated as studies continue...</p>
                            <p id="nihon"> Studies conducted on
                                <a href="">Wanikani</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <return-button class="hidden-btn"></return-button> -->
    </div>