<div class="app">
    <navbar></navbar>
    <social-component class="normalIcons"></social-component>
    <div class="projectpos">
        <div class="projecttitle">
            <port-img-container></port-img-container>
        </div>
        <div class="projecttitle">
            <a href="">
                <img class="projectimg" src="../assets/images/ebfairweather-1.png" />
            </a>
            <a href="">
                <p class="ptitle">First Professional Website</p>
            </a>
        </div>
    </div>
    <div class="projectpos">
        <div class="projecttitle">
            <a>
                <img class="projectimg" src="../assets/images/Screen Shot 2016-01-14 at 12.15.35 PM.png" />
            </a>
            <a>
                <p class="ptitle">Triple Care</p>
            </a>
        </div>
        <div class="projecttitle">
            <a href="">
                <img class="projectimg" src="../assets/images/incwealth_yfwkub.png" />
            </a>
            <a href="">
                <p class="ptitle">Inc Financial</p>
            </a>
        </div>
    </div>
    <div class="mottopos">
        <div class="projecttitle">
            <a href="">
                <img class="projectimg" src="../assets/images/smartresponse-org_q5hag0.png" />
            </a>
            <div>
                <a href="">
                    <p class="ptitle">Smart Response</p>
                </a>
            </div>
        </div>
    </div>
    <div class="projectpos">
        <div class="projecttitle ngjs">
            <div id="angjs">
                <a href="">
                    <img id="ngjsimg" src="../assets/images/ng-logo.png" />
                </a>
            </div>
            <a href="">
                <p class="ptitle">AngularJS Version of Portfolio Site</p>
            </a>
        </div>
        <div class="projecttitle reactjs">
            <a href="">
                <img id="reactimg" src="../assets/images/reactjs.svg" />
            </a>
            <a href="">
                <p class="ptitle">React Version of Portfolio Site</p>
            </a>
        </div>
    </div>
    <!--<div class="mottopos">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
        </div>
    </div>-->
    <div class="projectpos">
        <div class="projecttitle">
            <a>
                <img class="projectmore" src="../assets/images/mywebsitelogo.png" />
            </a>
            <a>
                <p class="ptitle">More to come...</p>
            </a>
        </div>
    </div>
    <return-button class="hidden-btn"></return-button>
</div>