<div class="social-container-mobile">
    <div class="mottoposMobile">
        <a class="sociconMobile"
            href="https://github.com/thediamondintherough">
            <i class="fa fa-github fa-2x"></i>
        </a>
    </div>
    <div class="pdf-container-mobile">
        <div class="pdf-mobile">
            <a href="/pdf"  target="_blank" class="motto pdf">Résumé (PDF)</a>
        </div>
    </div>
</div >
<div class="social-container">
    <div class="importantpos">
        <div class="paddingLeft">
            <a class="socicon"
                href="https://github.com/thediamondintherough">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </div>
        <div>
            <a href="/pdf"  target="_blank" class="motto pdf">Résumé (PDF)</a>
        </div>
        <div class="paddingRight">
            <a class="socicon" title="My LinkedIn Public Page" href="">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
        </div>
    </div>
</div>